<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
	<div th:if="${listCategoryParents != null && !listCategoryParents.empty}">
		<div class="row ">
			<div class="col-md p-0">

					<ol class="breadcrumb br-40">

						<li class="breadcrumb-item">
							<a th:href="@{/}">Домашня</a>
						</li>
						
						<th:block th:each="parent : ${listCategoryParents}">
						<li class="breadcrumb-item">
							<a th:href="@{'/c/' + ${parent.alias}}">[[${parent.name}]]</a>
						</li>
						</th:block>
						
						<li class="breadcrumb-item" th:if="${product != null}">
							<span>[[${product.shortName}]]</span>
						</li>

					</ol>


			</div>
		</div>
	</div>
</div>
</body>
</html>